{% block head %}
    <meta name="author" content="Lugosium">
    <meta name="description" content="Lugosium Monitor, live remote OVH VPS monitoring.">
    <meta name="site" content="http://www.lugosium.com/">
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset("bundles/lugosiumovhvpsmonitor/images/favicon.ico") }}" />
    {% block stylesheets %}
        {% set stylesheetFiles = [
            'bundles/lugosiumovhvpsmonitor/vendor/bootstrap/dist/css/bootstrap.min.css',
            'bundles/lugosiumovhvpsmonitor/vendor/chosen/chosen.min.css',
            'bundles/lugosiumovhvpsmonitor/css/styles.css'
        ] %}

        {% for stylesheetFile in stylesheetFiles %}
            <link type="text/css" rel="stylesheet" href="{{ asset(stylesheetFile) }}">
        {% endfor %}
    {% endblock %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <header>
                    <nav class="navbar navbar-inverse navbar-default" role="navigation">
                        <div class="navbar-header">
                            <a title="Refresh page" href="{{ path('lugosium_ovhvpsmonitor_default_index') }}" class="navbar-brand navbar-left"><span class="glyphicon glyphicon-dashboard"></span></a>
                        </div>
                        <div class="navbar-right">
                            {% if form is defined %}
                                {{ form_start(form, {'attr': {'class': 'navbar-form'} } ) }}
                                    {{ form_row(form.vps, {'attr': {'class': 'form-control'} } ) }}
                                {{ form_end(form) }}
                            {% endif %}
                        </div>
                    </nav>
                </header>
            </div>
        </div>
        {% block content %}{% endblock %}
        <div class="row-fluid">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <footer>
                    <p class="text-right">
                    <small><a href="//www.lugosium.com/" target="_blank">Lugosium Web Development</a></small>
                    </p>
                </footer>
            </div>
        </div>
    </div>
    {% block javascripts %}
        {% set javascriptFiles = [
            'bundles/lugosiumovhvpsmonitor/vendor/jquery/dist/jquery.min.js',
            'bundles/lugosiumovhvpsmonitor/vendor/bootstrap/dist/js/bootstrap.min.js',
            'bundles/lugosiumovhvpsmonitor/vendor/chosen/chosen.jquery.min.js',
            'bundles/lugosiumovhvpsmonitor/vendor/highcharts/highcharts.js',
            'bundles/lugosiumovhvpsmonitor/vendor/highcharts/modules/exporting.js',
            'bundles/lugosiumovhvpsmonitor/js/dashboard.js',
            'bundles/lugosiumovhvpsmonitor/js/dashboard/cpu.js',
            'bundles/lugosiumovhvpsmonitor/js/dashboard/memory.js',
            'bundles/lugosiumovhvpsmonitor/js/dashboard/network.js',
        ] %}

        {% for javascriptFile in javascriptFiles %}
            <script type="text/javascript" src="{{ asset(javascriptFile) }}"></script>
        {% endfor %}
    {% endblock %}
{% endblock %}
